<div class="row ">
<div class="col-md-12">
 <div class="form-group row margin-top-15">
    <input class="form-control"  placeholder="商品名称搜查" 
    [formControl] = 'filterControl' >
  </div>
</div>
 
<div class="row " style="padding-top: 10px">
    <div  *ngFor="let product of products | myfilter:'name':keyWord" class="col-md-4 col-lg-4 col-sm-4">
      <div class="thumbnail">
        <img [src]="imgURL"/>
        <div class="caption">
          <h4 class="pull-right">{{product.price}}元</h4>
          <h4><a [routerLink] = '["/productDetail", product.id]'>{{product.name}}</a></h4>
          <p>{{product.desc}}</p> 
        </div>
        <app-star [rating] = "product.rate"></app-star>
      </div>
    </div>
 
</div>